<h2>Sign Up</h2>

<form method = "post" action = "/signup"> 
  <p>Name: <input type = "text" name = "username"></p>
  <p>Password: <input type = "text" name = "password"></p>
  
  <input type = "submit" value = "Sign Up">
</form>