<form method = "post" action = "/games/<%= @game.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  
  <label>Game Name</label>
  <input type = "text" name = "name" value = "<%= @game.name %>"> <br> 
  
  <label>Game Rating (E / T / M)</label>
  <input type = "text" name = "rating" value = "<%= @game.rating %>"> <br> 
  
  <input type = "submit" value = "Update">
</form>

