<h1>Reserve a New Game</h1>

<form method = "post" action = "/games">
  <label>Game Name</label>
  <input type = "text" name = "name"> <br>
  
  <label>Game Rating</label>
  <input type = "text" name = "rating"> <br>
  
  <input type = "submit" value = "Reserve">
</form>