<p> <%= @game.name %> - <%= @game.rating %>

<form method = "post" action = "/games/<%= @game.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Unreserve Game">
</form>

<br></br>

<a href="/games/<%=@game.id%>/edit">Edit Game</a>